.banner-man-with-glasses {

	&.active {

		.banner-image {
			position: absolute;
			left: 560px;
			width: image-width("banner-man.png");
			height: image-height("banner-man.png");
			background: image-url("banner-man.png");	
			@include animation(fadein 1s, fadeout 1s 4s forwards);
		}

		.banner-circle {
			background-repeat:no-repeat;
			position: absolute;
			width: image-width("circle1.png");
			height: image-height("circle1.png");
			@include animation(flyin 1s, flyout 1s 4s forwards);

			&:nth-child(1) {
				left: -56px;
				background-image: image-url("circle1.png");
				@include animation-duration(1s);
			}

			&:nth-child(2) {
				left: -330px;
				background-image: image-url("circle2.png");
				@include animation-duration(0.75s);
			}

			&:nth-child(3) {
				left: -664px;
				background-image: image-url("circle3.png");
				@include animation-duration(0.5s);
			}

		}

		.banner-text {
			position: absolute;
			width: image-width("circle1.png") * 0.9;
			top: 140px;
		}

		.banner-title {
			font-size: 73px; // different to design, because of different font
			line-height: 0.9;
			color: white;
			text-transform: lowercase;
			@include animation(flyin 1s 1.5s backwards, flyout 1s 4.5s forwards);
		}

		.banner-subtext {
			color: white;
			@include animation(flyin 1s 1.75s backwards, flyout 1s 4.25s forwards);
		}		

		.banner-cta {
			@include animation(flyin 1s 2.0s backwards, flyout 1s 4s forwards);
		}
	}
}

.banner-kid-with-glasses {

	&.active {

		$image: "banner-boy.png";

		.banner-image {
			position: absolute;
			left: 560px;
			width: image-width($image);
			height: image-height($image);
			background: transparent image-url($image);	
			@include animation(fadein 1s, fadeout 1s 4s forwards);
		}

		.banner-circle {
			background-repeat:no-repeat;
			position: absolute;
			width: image-width("circle1.png");
			height: image-height("circle1.png");
			@include animation(flyin 1s, flyout 1s 4s forwards);

			&:nth-child(1) {
				left: -56px;
				background-image: image-url("circle1.png");
				@include animation-duration(1s);
			}

			&:nth-child(2) {
				left: -330px;
				background-image: image-url("circle2.png");
				@include animation-duration(0.75s);
			}

			&:nth-child(3) {
				left: -664px;
				background-image: image-url("circle3.png");
				@include animation-duration(0.5s);
			}

		}

		.banner-text {
			position: absolute;
			width: image-width("circle1.png") * 0.9;
			top: 140px;
		}

		.banner-title {
			font-size: 73px; // different to design, because of different font
			line-height: 0.9;
			color: white;
			text-transform: lowercase;
			@include animation(flyin 1s 1.5s backwards, flyout 1s 4.5s forwards);
		}

		.banner-subtext {
			color: white;
			@include animation(flyin 1s 1.75s backwards, flyout 1s 4.25s forwards);
		}		

		.banner-cta {
			@include animation(flyin 1s 2.0s backwards, flyout 1s 4s forwards);
		}
	}

	
}