/**
* Templeman's Opticians
*
* @author Dan Blows
* @email d@nblo.ws
* @details Built for Swan Creative as part of test
* @date 2014-09-15
*/

@import "settings";
@import "compass";
@import
	"foundation/components/buttons",
    "foundation/components/forms",
	"foundation/components/grid",
    "foundation/components/magellan",
    "foundation/components/type";
@import "banners";

/* ============================ MIXINS ============================ */

@mixin centre-align-absolutely-positioned-element() {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;		
}

@mixin triangle($height, $color) {
	width: 0; 
	height: 0; 
	border-top: $height solid $color; 
	border-right: $height solid transparent;	
}

/* ============================ VARIABLES ============================ */

$experimental-support-for-svg: true;

/* sizes */
$row_width: 1024px;

/* colours */
$dark_grey: #343F47;
$blue: #0080C8;
$dark_blue: #001b2a;
$off_black: #231F20;

/* fonts */

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskervilleRegular';
    src: url('librebaskerville-regular-webfont.eot');
    src: url('librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('librebaskerville-regular-webfont.woff') format('woff'),
         url('librebaskerville-regular-webfont.ttf') format('truetype'),
         url('librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$serif: Baskerville, LibreBaskervilleRegular, serif;
$title_font_family: $serif;
$sans_serif: MontserratRegular, arial, sans-serif;

/* image refs */
$logo: "templemans-logo.png";


/* ============================ HELPER CLASSES ============================ */

.out-of-flow {
	position: relative;
}

.col {
	float: left;
}

.hidden {
	display: none;
}

/* ============================ GENERAL CLASSES ============================ */

.button {
	text-transform: uppercase;
	background-color: $blue;
	font-size: 14px;
}

.inline-list {
	margin: 0 auto 1.0625rem auto;
	margin-left: -1.375rem;
	margin-right: 0;
	padding: 0;
	list-style: none;
	overflow: hidden; 
}

.inline-list > li {
	list-style: none;
	float: left;
	display: block;
}

.inline-list > li > * {
	display: block; 
}

.section {
	clear: left;	
}

.section-has-bottom-padding {
	padding-bottom: 50px;
}

.section-dark {
	background-color: $dark_grey;

	.section-title {
		color: white;
	}

	p {
		color: white;
	}
}

.section-white {
	background-color: white;

	.section-title {
		color: $dark_grey;
	}
}

.title {
	font-family: $title_font_family;
	text-transform: lowercase;
}

.section-title {
	margin: 62px 0 50px;
	font-size: 45px;
}

.text-columns-2 {
	@include columns(20px 2);
}

/* ============================ ANIMATIONS ============================ */
.flyin {
	@include animation(flyin);
	@include animation-fill-mode(backwards);
}

.fadein {
	@include animation(fadein);
	@include animation-fill-mode(backwards);
}

.fadeout {
	@include animation(fadeout);
}

.animate-after-1s {
	@include animation-delay(1s);
}

.animate-after-2s {
	@include animation-delay(2s);
}

.animate-after-3s {
	@include animation-delay(3s);
}

.animate-after-4s {
	@include animation-delay(4s);
}

.animate-05s {
	@include animation-duration(0.5s);
}

.animate-1s {
	@include animation-duration(1s);
}

.animate-2s {
	@include animation-duration(2s);
}

.animate-3s {
	@include animation-duration(3s);
}

@include keyframes(fadein) {
	from { opacity: 0; }
	to { opacity: 100%; }
}

@include keyframes(flyin) {
	from { transform: translate(-1000px, 0); }
	to { transform: translate(0, 0); }
}

@include keyframes(flyout) {
	from {transform: translate(0, 0);}
	to {transform: translate(-1000px, 0);}
}

@include keyframes(fadeout) {
	from { opacity: 100%; }
	to { opacity:0; }
}

/* ============================ SECTION CLASSES ============================ */
.sn-navbar {

	$height: 260px;

	border-bottom: 24px solid $blue;
	padding-top: $height / 4;
	height: $height;

	&-item {
		$horizontal_margin: 15px;

		// equalises the space between the menu items either side of the logo,
		// because 'designer frames' is significantly longer than 'eyecare'
		$designer_frames_left_margin: 50px;

		$width: ($row_width - image-width($logo) - $designer_frames_left_margin) / 4;

		width: $width - ($horizontal_margin * 2);
		font-size: 14px;
		text-align: center;
		line-height: 32px;
		margin: (image-height($logo) / 2) $horizontal_margin;
		text-transform: lowercase;

		a {
			color: white;
		}

		&.active {
			background-color: $blue;
		}

		&.sn-navbar-item-designer-frames {
			margin-left: $designer_frames_left_margin; 	
		}
	}

}

.sn-banner {

	$height: 564px;

	height: $height;
	@include background-image(linear-gradient(120deg, #C3C6C9, #B5B9BF 40%, #C2C5C8 70%, #36464D));	

	.banner {
		height: $height;
		width: 100%;
		position: absolute;
		display: none;

		&.active {
			display: block;
		}

	}	
	
	&-navigation {
		margin-left: 1024px;
		top: $height - 22px - 53px;
		position: relative;
		width: 106px;

		&-control {
			width: 53px;
			height: 53px;
			float: left;
		}

		&-previous {
			background-color: #004d6d;
		}

		&-next {
			background-color: $blue;
		}

	}

}

.scrolldown {

	$height_of_bar: 8px;
	$image: "scrolldown.png";	
	$move_up: image-height($image) + $height_of_bar;

	background: transparent image-url($image) no-repeat 50% 5px;
	display: block;
	border-bottom: $height_of_bar solid white;
	height: $move_up;
	margin-top: -$move_up;
	top: $height_of_bar;
	position: relative;

}

.social-links {
	position: absolute;
	right: 0;
	margin-top: 177px;
}

.scl {
	width: 45px;
	height: 45px;
	background-color: white;
	margin-bottom: 5px;

	&-facebook {
		@include replace-text("scl-facebook.png");	
	}

	&-twitter {
		@include replace-text("scl-twitter.png");
	}

	&-linkedin {
		@include replace-text("scl-linkedin.png");
	}
}

.sn-approach {

	$photo_width: image-width("templemans-opticians-shop-sign.jpg");
	$photo_margin_right: 20px;
	
	&-photos {
		width: $photo_width;
		margin-right: $photo_margin_right;
	}

	&-text {
		float: left;
		width: $row_width - $photo_width - $photo_margin_right;
	}

}

.sn-aboutus {

	$section_height: 706px;

	background: image-url("opticians-background.jpg");
	height: $section_height;

	&-title {
		color: white;
		margin: 0 0 18px 0;
	}

	&-text-wrapper {
		@include background-image(radial-gradient(center, ellipse cover, #001B2A 0%,#353f48 100%));
		opacity: 0.9;
		color: white;
		text-align: center;
		width: 70%;
		min-width: $row_width;
		top: 100px;
		@include centre-align-absolutely-positioned-element();
	}

	&-text-inner {
		width: 671px;
		margin: 0 auto;
		padding: 31px 0 53px 0;
	}

	&-people {
		background: image-url("templemans-people.png") no-repeat top center;
		width: 100%;
		height: $section_height;
		background-size: cover;
		@include centre-align-absolutely-positioned-element();
	}

}

.sn-products {

	&-text {
		width: 755px;
	}

    &-glasses-image {

		$image: "glasses.png";

		background: image-url($image) no-repeat;
		position:absolute;
		left:70%;
		width:30%;
		height: image-height($image);
		bottom: 100px;

	}

}

/**
 * BRANDS
 */
.sn-brands {

	$from: #001B2A;
	$to: #353f48;

	background-color: $from; // Old browsers
	@include filter-gradient($from, $to, horizontal);
	@include background-image(radial-gradient(center, ellipse cover, $from 0%, $to 100%));	
	padding: 10px;
	border-bottom: 24px solid $blue;

	&-brandlist {

		$brand_list_image: "logos.png";

		width: 100%;
		height: image-height($brand_list_image);
		background: image-url($brand_list_image) no-repeat center center;	
		background-size: contain;	
		margin: 0;

	}	

	&-brand {
		display: none;
	}

}

.sn-appointments {

	$clock_image: "clock-bg.jpg";

	background: image-url($clock_image) no-repeat left center;
	background-size: image-width($clock_image) image-height($clock_image);
	height: image-height($clock_image);

	&-text {
		width: 575px;
		float: left;
	}

	&-cta {
		$image: "appointments-burst.png";

		// the lines around the circle cause the text to go off-centre, so we
		// shift it back a bit
		$width_of_starbursts: 14px; 

		width: image-width($image) + $width_of_starbursts;
		height: image-height($image);
		float: left;
		background: image-url($image) no-repeat $width_of_starbursts 0;
		position: relative;
		top: 50px;
		left: 150px;
		text-align: center;
		padding-top: 86px;
		opacity: 0.7;

		transition: opacity 0.5s;

		&:hover {
			opacity: 1.0;
		}	

		&-text {
			$color: white;
			$font_size: 45px;

			color: $color; 
			font-family: $serif;
			font-size: $font_size;
			line-height: $font_size;
			text-transform: lowercase;
			position: relative;
			left: -18px;

			&:hover {
				color: $color; 
			}
		}
	}
}

.sn-eyecare-text {
	width: 700px;
}

.quote blockquote {
	background-color: white;
	color: #231F20;
	margin-bottom: 0;
}

// at the moment, height of testimonials are fixed
// with inline css to make them all equal heights
.sn-testimonials blockquote, .sn-testimonials blockquote p {
	color: #231F20;
}

.quote-author {
	margin-bottom: 0;
	padding-bottom: 10px;

	&:before {
		content: "- ";
	}
}

.sn-testimonials .col {
	width: 326px;
	margin-right: 22px;

	&:last-child {
		margin-right: 0;
	}
}

.quote .speech {
	 @include triangle(20px, white);
	 margin-bottom: 20px;
	 opacity: 0.8;
}

.sn-subscribe {

	&.section {
		padding-bottom: 0;
	}

	.inner {
		background-color: rgba(0, 128, 200, 0.8);
		height: 278px;
		position:relative;
		width:100%;
	}
}

.eyes-banner {
	background-image: url(../images/eyes.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	height: 278px;
	width: 100%;
	position: absolute;
}

.sn-subscribe-title {
	margin: 0;
	color: #FFFFFF;
	padding-top: 55px;
	padding-bottom: 40px;
}

.subscribe-form {
	
	input {
		float: left;
		margin-right: 10px;
	}

	#subscribe_name {
		width: 238px;
	}

	#subscribe_email {
		width: 325px;
	}

}

.contact-info {
	font-family: Baskerville, serif;
	font-size: 30px;

	a {
		color: white;
	}
}

.sn-contactform-deets-column {
	float: left;
}

.sn-contactform-deets-col1 {
	width: 263px;
}

.sn-contactform-deets-col2 {
	width: 517px;
}

.sn-contactform-scllink {
	width: 51px;
	height: 51px;
	float: left;
}

.sn-contactform-scllink-facebook {
	@include replace-text("scl-facebook-wob.png");		
}

.sn-contactform-scllink-twitter {
	@include replace-text("scl-twitter-wob.png");			
}

.sn-contactform-scllink-linkedin {
	@include replace-text("scl-linkedin-wob.png");		
}

.sn-contactform {	

	input {
		width:326px;
		height:49px;
	}
}

.contactform-options {
	float: left;
	clear: left;
	margin-top: 10px;
}

.contactform-options p {
	margin-bottom: 10px;
}

.sn-contactform-column {
	float: left;
	width: 347px;
}

.sn-contactform-col1 {
	
}

.sn-contactform-inputs {
	width: 695px;
	float: left;
}

.sn-contactform-submit {
	position: absolute;
	bottom: 86px;
	margin-bottom:0;
}

.sn-contactform-cta {
	float: left;
	width: 239px;
	height: 336px;
	position: relative;
}

.sn-contactform {

	.checkbox {
	    position: absolute; 
	    overflow: hidden; 
	    clip: rect(0 0 0 0); 
	    height:1px; 
	    width:1px; 
	    margin:-1px; 
	    padding:0;
	    border:0;

	    & + .checkbox-label {
	    	margin-left: 0;
	    }

	    &:checked + .checkbox-label {
			background-position: 0 -20px;
	    }

	}

	.sn-contactform-submit {
		width: 239px;
	}

	.checkbox-label {
		height:15px; 
		display:inline-block;
		line-height:15px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:15px;
		cursor:pointer;
		background-position: 0 -15px;
		background-image:url(../images/checkbox.png);
		padding-left:26px;
		padding-top: 2px;
	    height:20px; 
		display:inline-block;
		line-height:20px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:15px;
		vertical-align:middle;
	    cursor:pointer;		
	    color: white;
	}
}

.sn-findus {
	background-color: #515E65;
	padding-bottom: 0;

	.title {
		color: #FFFFFF;
		margin: 0;
		line-height: 84px;
	}
}

.infobox {

  	color: #F1F1F1;
  	font-family: $sans_serif;
  	font-size: 16px;  	
  	line-height: 20px;
  	position: absolute;

  	.close {
		background: none repeat scroll 0 0 #0080C8;
		cursor: pointer;
		float: right;
		font-size: 17px;
		height: 25px;
		line-height: 22px;
		position: relative;
		right: -25px;
		text-align: center;
		top: 0;
		width: 25px;
	}

	.pointer {
		@include triangle(20px, $blue);
	}

	.content {
		padding:15px;
		background: none repeat scroll 0 0 #0080C8;
	}

}

#map-canvas img {
	max-width: none;
}

.sn-footer {
	background-color: $blue;
	color: white;
	height: 150px;
}

.sn-footer-copyright {
	float:left;
}

.sn-footer-builtby {
	float: right;
}

.magellan-container {
	display: none;
	width: $row_width;

	&.fixed {
		display: block;
	}
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
	background-color: $dark_blue;
	width: $row_width;
	min-width: $row_width;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;

	a {
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		color: white;
		padding: 10px 20px;

		&.active {
			background-color: $blue;
		}
	}
}